/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
    /** tertiary **/
    --ion-color-tertiary: #89a9e2;
    --ion-color-tertiary-rgb: 137, 169, 226;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #7895c7;
    --ion-color-tertiary-tint: #94b2e5;
}

.ion-color-tertiary {
    --ion-color-base: var(--ion-color-tertiary);
    --ion-color-base-rgb: var(--ion-color-tertiary-rgb);
    --ion-color-contrast: var(--ion-color-tertiary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-tertiary-contrast-rgb);
    --ion-color-shade: var(--ion-color-tertiary-shade);
    --ion-color-tint: var(--ion-color-tertiary-tint);
}